body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    color: grey;
}

h1{
    font-family: "Oswald", sans-serif;
    
}

p{
    font-family: "Fira Sans", sans-serif;
   margin-bottom: 36px;
}

a {
    font-family: "Fira Sans", sans-serif;
    color: red;
    text-decoration: none;
    text-align: center;
}

a:hover{
    text-decoration: underline;
}